* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 1366px;
    margin: 0 auto;
    min-height: 100%;
}
.slider {
    height: 800px;
    background-image: url(../img/slider.jpg);
    position: relative;
}
.menu-list {
    list-style-type: none;
    float: left;
}
.menu-link {
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    text-decoration: none;
    padding: 10px 13px;
}
.menu-link-active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}
.menu-link:hover {
    color: #212121;
    font-weight: 700;
}

.slider-trending {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #43a047;
}
.slider-h2 {
    font-size: 60px;
    color: #212121;
    text-transform: uppercase;
    font-weight: 100;
}
.slider-content {
    font-size: 14px;
    font-weight: 400;
    color: #6c6c6c;
    width: 458px;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 24px;
}
.button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #212121;
    border-radius: 22.5px;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    width: 212px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    letter-spacing: 3.6px;
}
.circle {
    border-radius: 20px;
    background-color: #c7c7c7;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
}
.circle-active {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #212121;
    display: inline-block;
    margin-bottom: 0px;
}
.circle:hover {
    background-color: #212121;
}
.menu {
    float: right;
}
.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}
.header {
    padding-top: 63px;
}
.slider-text {
    padding-top: 283px;
}
.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}
.catalog {
    height: 500px;
    padding-left: 98px;
    padding-right: 98px;
}

.catalog-link-featured {
    text-decoration: none;
    color: #212121;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 3px solid #212121;
    padding: 8px 13px;
}
.catalog-link-new {
    color: #6c6c6c;
    font-size: 36px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #6c6c6c;
    padding: 9px;
}
.catalog-explore {
    color: #212121;
    line-height: 1.33;
    letter-spacing: 3.6px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    margin-top: 15px;
}
.catalog-items {
    margin-top: 50px;
}

.catalog-items div {
    float: left;
    width: 25%;
}

.catalog-link {
    margin-top: 120px;
}
.first-banner {
    background-image: url(../img/banner_first.jpg);
    height: 684px;
    width: 683px;
}
.second-banner {
    background-image: url(../img/banner_second.jpg);
    height: 684px;
    width: 683px;
}
.banner {
    height: 684px;
}
.banner-text {
    padding-top: 228px;
    padding-left: 50px;
}
.banner-trending {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e88e5;
    line-height: 2.67;
    letter-spacing: 1.8px;
}
.banner-h2 {
    font-size: 36px;
    color: #212121;
    font-weight: bold;
}
.banner-content {
    font-size: 14px;
    font-weight: 400;
    color: #6c6c6c;
    width: 458px;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 24px;
}
.banner {
    display: flex;
}
.trending-items {
    height: 1000px;
    margin-left: 98px;
    margin-right: 98px;
    width: 1162px;
}
.trending-link {
    margin-top: 120px;
}
.trending-link-featured {
    text-decoration: none;
    color: #212121;
    font-size: 36px;
    font-weight: bold;
}
.trending-items-photo {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trending-explore {
    color: #212121;
    line-height: 1.33;
    letter-spacing: 3.6px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    margin-top: 15px;
}
img[alt="bottom"] {
    padding-top: 25px;
}

.slider-hotDeals {
    height: 800px;
    background-image: url(../img/slider_second.jpg);
    position: relative;
}
.slider-hot {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e53935;
}
.exclusive-banner {
    background-image: url(../img/exclusive_banner.jpg);
    height: 570px;
    width: 570px;
    position: relative;
}
.exclusive {
    height: 700px;
    margin-top: 120px;
    padding-left: 98px;
    display: flex;
    padding-right: 98px;
}
.exclusive-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 600px;
    height: 600px;
}
.exclusive-items img {
    height: 270px;
}
.banner-exclusive-text {
    padding-top: 183px;
    padding-left: 31px;
}
.banner-exclusiv {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e88e5;
    line-height: 2.67;
    letter-spacing: 1.8px;
}
.exclusive-h2 {
    font-size: 36px;
    color: #212121;
    font-weight: bold;
}
.exclusive-content {
    font-size: 14px;
    font-weight: 400;
    color: #6c6c6c;
    width: 458px;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 24px;
}
.bottom_banner {
    width: 1366px;
    height: 516px;
    background-image: url(../img/bottom_banner.jpg);
}
.banner-bottom-text {
    padding-top: 125px;
    padding-left: 99px;
}
.mobile-app {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6c6c6c;
    line-height: 2.67;
    letter-spacing: 1.8px;
}
.bottom-h2 {
    font-size: 62px;
    font-weight: 100;
    color: #212121;
    line-height: 1.16;
}
.bottom-content {
    color: #6c6c6c;
    line-height: 1.09;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 33px;
    padding-top: 33px;
}
.footer {
    background-color: #f7f7f7;
}
.footer-up {
    height: 330px;
    display: flex;
}
.contact-h2 {
    color: #6c6c6c;
    line-height: 1.33;
    letter-spacing: 1.8px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.contact-text {
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    width: 221px;
    margin-top: 24px;
}
.information-h2 {
    color: #6c6c6c;
    line-height: 1.33;
    letter-spacing: 1.8px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.first-info-link a {
    color: #212121;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.86;
}
.second-info-link a {
    color: #212121;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.86;
}
.first-info-link {
    display: flex;
    flex-direction: column;
}
.second-info-link {
    display: flex;
    flex-direction: column;
}
.subscribe-h2 {
    color: #6c6c6c;
    line-height: 1.33;
    letter-spacing: 1.8px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.subscribe-text {
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    width: 363px;
    margin-top: 24px;
}
.subscribe input {
    width: 370px;
    height: 48px;
    margin-top: 26px;
}
.contact,
.subscribe,
.information {
    margin-top: 120px;
}
.contact {
    margin-left: 99px;
}
.information {
    margin-left: 80px;
}
.subscribe {
    margin-left: 78px;
}

.footer-down p {
    color: #6c6c6c;
    line-height: 2.17;
    letter-spacing: 0.6px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-down {
    width: 1366px;
    padding-bottom: 38px;
}
.copyright {
    padding-left: 97px;
    float: left;
}
.terms {
    float: right;
    padding-right: 97px;
}
.subscribe input {
    border: solid 1px #d9dee1;
    background-image: url(../img/send_icon.png);
    background-repeat: no-repeat;
    background-position: 330px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
}

html,
body {
    height: 100%;
}

.copy-footer {
    height: 200px;
}
.footer {
    margin: -200px auto 0;
    width: 1366px;
}
